@charset "utf-8";

@import "var", "reset", "mixins";
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

/* Common > Layout */
.wrapper {
  width: 100vw;
  height: calc(var(--vh, 1vh)*100);
  background-color: $primary;
  position: relative;
  padding: max(#{$gutter-xl}, 18px);
  z-index: 999;
  .common-header {
    @include flex;
    width: 100%;    
    height: $header-height; 
    justify-content: space-between;    
  }
  .common-container {
    width: 100vw;
    height: calc(var(--vh, 1vh)*100 - #{$header_height} - max(#{$gutter-xl}, 18px));
    margin-left: min(-2.084vw, -18px);
    overflow: hidden;
    padding: 0 10.9375vw 0 0; 
    z-index: 997; 
  }
  // &.admin-portal {}
  // &.intellytics-dashboard {}
}

/* Header */
.common-header {
  & > h1 {
    img {
      padding: max(#{$gutter-xs}, 3px);
      &.admin-portal-logo {
        width: max(15.6250vw, 200px);
        height: auto;
      }
      &.intellytics-dashboard-logo {
        width: auto;
        height: max(4.0104vw, 50px);
      }
    }
  }
  .introduction {
    text-transform: uppercase;
    margin: 0 max(#{$gutter-xl}, 18px);    
    .tit { 
      font-size: max(0.8854vw, 15px);
      font-weight: 600;
      letter-spacing: .1rem;
      margin-bottom: $gutter-sm;
    }
    .desc {
      color: $color-darkgray;
      font-size: max(0.6771vw, 11px);
      font-weight: 300;
      line-height: 1.7;
    }
  }
  .nav {
    @include flex;
    flex-direction: column;
    align-items: end;
    .user-info {
      text-align: right;
      margin-bottom: max(#{$gutter-lg}, 15px);
      &:hover { text-decoration: underline; }
      &::after {
        content: '';
        width: max(2.8125vw, 28px);
        height: max(0.2604vw, 3px);
        background-color: $color-title;
        display: inline-block;
      }
      span { 
        display: block;
        font-size: unquote("max(0.8333vw, 12px)");
      }
    }
    .link-list {
      text-align: right;
      font-size: max(0.7813vw, 13px);
      font-weight: 600;
      line-height: 1.7;
      letter-spacing: .1rem;
      text-transform: uppercase;
      a:hover { text-decoration: underline; }
      &.only {
        &::before {
          content: '';
          width: max(2.8125vw, 28px);
          height: max(0.2604vw, 3px);
          background-color: $color-title;
          display: inline-block;
          margin-bottom: max(#{$gutter-lg}, 15px);
        }
      }
    } 
  }
}

/* Footer */
.common-footer {
  .footer-logo {
    position: absolute; bottom: max(#{$gutter-xl}, 18px); left: max(#{$gutter-xl}, 18px);
    img { 
      width: max(2.0833vw, 24px);
      height: auto;
    }
  }
  .footer-info {
    position: absolute; bottom: max(#{$gutter-xl}, 18px); right: max(#{$gutter-xl}, 18px);   
    .contact {   
      color: $color-darkgray;
      line-height: 2; 
      text-align: right;
      padding-bottom: max(#{$gutter-sm}, 6px);
      em { 
        display: block;
        font-style: normal;
        font-size: max(0.6771vw, 12px);
        font-weight: 600;
        letter-spacing: .05rem;
      }
      span {
        display: block;
        font-size: max(0.6250vw, 12px);
        font-weight: 400;
      }
    }
    .MuiInputLabel-root, .MuiSelect-select {
      font-size: max(0.6771vw, 12px);
      line-height: initial;
    }
  }
  & > .copy {
    position: fixed;
    top: 480px;
    left: -75px;    
    transform: rotate(-90deg);
    font-size: max(0.5208vw, 10px);
    color: $color-gray;
  }
}

/* Container > Tabs */
.common-container { 
  .common-tabs {
    height: $tab-item-height;
    margin-left: $layout-gutter-left;
    * { 
      letter-spacing: .1rem; 
      font-size: max(0.8854vw, 14px);
      font-weight: 600;
    }
    .MuiTabs-indicator { height: max(0.2083vw, 4px); }
  }
  .MuiBox-root { border: none; padding: 0; }
  .common-tab-panel {
    position: relative; 
    width: calc(100vw - #{$layout-gutter-right});
    height: calc(100% - #{$tab-item-height});
    background-color: $color-white;
    .contents {
      height: calc(var(--vh, 1vh)*100 - #{$header-height} - #{$tab-item-height} - max(#{$gutter-xl}, 18px));
      .vertical-scroll-area {        
        padding-top: max(#{$gutter-sm}, 6px); 
        padding-right: max(#{$gutter-sm}, 6px); 
        padding-bottom: max(#{$gutter-lg}, 12px); 
        padding-left: calc(#{$layout-gutter-left} - #{$gutter-sm});
      }      
    }
  }
}

/* Container > Card */
.card-wrap {
  @include flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 -max(#{$gutter-sm}, 6px); 
  // common & Authorized 
  .MuiCard-root {    
    position: relative;
    width: max(17.9688vw, 300px);
    min-height: max(7.8125vw, 150px);
    height: auto;
    margin: max(#{$gutter-sm}, 6px);
    
    .MuiCardContent-root { 
      padding: max(0.8333vw, 16px); //mui 
      .card-tit {
        font-size: max(0.8854vw, 17px);
        font-weight: 600;
        line-height: max(1.4583vw, 28px);
        margin-bottom: max(#{$gutter-sm}, 6px); 
      }
      .card-desc { 
        @include ellipsis(2, 1.5);
        height: max(2.8125vw, 54px);
        font-size: max(0.7292vw, 14px);
        color: $color-description;
        margin-bottom: max(#{$gutter-sm}, 6px); 
      }
      .chip-wrap {
        margin: - calc($gutter-xs/2);
        .MuiChip-sizeSmall {
          font-size: max(0.5729vw, 11px);
          line-height: 1;
          padding: 0 max(#{$gutter-xs}, 3px);
          margin: calc($gutter-xs/2);
          &.Mui-disabled { opacity: 0 !important; }
        }
      }
    }    
  }
  // Unauthorised
  &.unauthorized {
    .MuiCard-root {
      overflow: visible !important;
      .MuiFab-root {
        position: absolute; bottom: -20px; left: calc(50% - 28px);
        width: max(2.9167vw, 56px); //mui
        height: max(2.9167vw, 56px); //mui
        min-height: unset;
        .MuiSvgIcon-root { 
          width: max(1.2500vw, 24px); //mui
          height: max(1.2500vw, 24px); //mui
        }
      }
    }  
  }
  // Declined
  &.declined {
    .MuiCard-root {     
      overflow: visible !important;
      .MuiFab-root { 
        position: absolute; bottom: -20px; left: calc(50% - 69px);
        span { line-height: 1; font-size: max(0.6250vw, 12px); }
      }
    }  
  }
}

/* Dialog */
.common-dialog {  
  .MuiDialogTitle-root {
    & > span { display: inline-block; vertical-align: middle; }
    .MuiChip-sizeSmall {
      font-size: max(0.6250vw, 12px);
      font-weight: 600;
      line-height: 1;
      margin-left: max(#{$gutter-xs}, 3px);
    } 
  }
  .MuiDialogContent-root {    
    .MuiDialogContentText-root {
      color: $color-darkgray;
      font-size: max(0.6771vw, 13px);
      line-height: 1.6;
      letter-spacing: -.01rem;      
      margin: max(#{$gutter-sm}, 6px) 0;
      em {                 
        display: block;
        font-style: normal;
        font-size: max(0.7292vw, 14px);
        font-weight: 600;
      } 
      & > .text-mark {
        display: block;
        color: $color-mark;       
        font-weight: 600;
        margin: max(#{$gutter-sm}, 6px) 0;        
      }        
    }
    .MuiInput-input { font-size: max(0.6771vw, 13px); }
    .MuiFormControlLabel-label { 
      font-size: max(0.6250vw, 12px);
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.01rem;  
      color: $color-darkgray;
    }     
  }
  .MuiDialogActions-root {
    padding: 0 $gutter-md $gutter-md;
    Button { flex-grow: 1; }
  }
}

@media (max-width: 1100px) {
  .common-header {
    .introduction br { display: none; }
  }  
}
@media (max-width: 980px) {
  .copy { display: none; }
  .common-header {
    .introduction {
      .tit { 
        font-size: max(0.8854vw, 12px);
        font-weight: 400;
        letter-spacing: .01rem;
      }
      .desc { display: none; }
    }
  }  
}
@media (max-height: 800px) {
  .copy { display: none; }
}