/* ------------------------------------------------------- FONT ------------------------------------------------------- */
$base_font_family:  "Roboto", "Noto Sans KR", sans-serif !important;
/* ------------------------------------------------------- COLOR ------------------------------------------------------- */
$primary: #ffe228;
$primary-light: #7879F1;
$primary-dark: #4A45BD;
$bg_actived_dark: #A5A5E3;
$bg_blank_area: rgba(224, 224, 246, 0.4);
$border: #e3ebf6;

/* ------------------------------------------------------- LAYOUT ------------------------------------------------------- */
$header-height: 200px;
$layout-gutter-left: 120px;

$gutter-xs: 6px; 
$gutter-sm: 12px; 
$gutter-md: 24px; 
$gutter-lg: 30px; 
$gutter-xl : 40px;

$radius-sm: 4px;
$radius-md: 12px;