@charset "utf-8";

@import "CloudDevelopersDayVar", "reset", "mixins";
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

/* Common > Layout */
.wrapper {
  width: 100vw;
  height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
  background-color: $primary;
  position: relative;
  overflow: hidden;
  padding: $gutter-xl;
  z-index: 999;
  .cloud-developers-day-header {
    @include flex;
    width: 100%;
    height: $header-height; 
    justify-content: space-between;    
  }
  .cloud-developers-day-container {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100 - #{$header-height});
    margin-left: -$gutter-xl;
    padding: 0 210px 0 0;
    overflow: hidden;
    z-index: 997;
    .contents {
      position: relative;
      height: calc(var(--vh, 1vh) * 100 - #{$header-height} - #{$gutter-xl});
      background-color: $color-white;
    }
  }
}

/* Header */
.cloud-developers-day-header {
  & > h1 {
    img {
      width: 420px;
      height: auto;
    }
  }
  .event-details {
    dl {
      @include flex;
      dt {
        font-size: 23px;
        font-weight: 600;
        letter-spacing: .1rem;
        margin-right: $gutter-sm;
      }
      dd {
        font-size: 20px;
        font-weight: 300;
        em {
          font-size: 23px;
          font-weight: 400;
          font-style: normal;
          margin-right: $gutter-xs;
        }
        em, span { vertical-align: middle; }
      }
    }
    .MuiFormControlLabel-root {
      .MuiTypography-root { font-weight: bold; }
    }
    .custom-button {
      display: block; 
      border: 3px solid $color-title;
      border-radius: 30px;
      font-weight: bold;
      margin-top: $gutter-xs;
    }
  }
  .nav {
    @include flex;
    flex-direction: column;
    align-items: end; 
    .user-info {
      text-align: right;
      &:hover { text-decoration: underline; }
      &::after {
        content: '';
        width: 54px;
        height: 5px;
        background-color: $color-title;
        display: inline-block;
      }
      span { 
        display: block; 
        font-size: 16px;
        &.name {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
}

/* Footer */
.cloud-developers-day-footer {
  .footer-logo {
    position: absolute; bottom: $gutter-xl; left: $gutter-xl;
    img { 
      width: auto;
      height: 34px;
    }
  }
  .footer-info {
    position: absolute; bottom: $gutter-xl; right: $gutter-xl; 
    .contact {   
      color: $color-title;
      line-height: 2; 
      text-align: right;
      em { 
        display: block;
        font-style: normal;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .05rem;
      }
      span {
        display: block;
        font-size: 13px;
        font-weight: 400; 
      }
    }
  }
  & > .copy {
    position: fixed;
    top: 480px;
    left: -75px;    
    transform: rotate(-90deg);
    font-size: 10px;
    color: $color-gray;
  }
}

/* Container */
.cloud-developers-day-container {
  .article {
    width: 100%;
    background-color: $color-white;
    padding: $gutter-xxl $gutter-xxl $gutter-xxl $layout-gutter-left;
    &.bg-lightgray {
      background-color: $color-lightgray;
    }
    & > h3 {
      font-size: 32px;
      font-weight: 600;
      color: $color-title;
      letter-spacing: .1rem;
      margin-bottom: $gutter-md;
      .text-red { color: $color-lg-electronics; }
      & + .swiper { margin-top: -$gutter-md; }
    }
    & > p {
      font-size: 17px;
      font-weight: 300;
      color: $color-description;
      line-height: 1.8;
      &.text-helper {
        font-size: 16px;
        font-weight: 500;
        color: $color-lg-electronics;
        margin-bottom: $gutter-lg;
      }
    }    
    .list {
      & > li {
        font-size: 17px;
        font-weight: 400;
        color: $color-description;
        line-height: 2.2;
        &::before {
          content: '';
          width: 6px;
          height: 6px; 
          display: inline-block;
          border-radius: 50%;
          background-color: $color-description;
          margin-right: $gutter-sm;
          margin-bottom: 3px;
        }
      }
    }
  }
}
.program-timetable {
  width: 100%;
  table-layout: fixed;
  background: $color-white;
  thead { border-bottom: 2px solid $table-border; }
  tbody tr { border-bottom: 1px solid $table-border; }
  th, td {
    padding: $gutter-sm;
    line-height: 1.8;
    text-align: center;
    vertical-align: middle;
  }
  th {     
    font-size: 20px;   
    font-weight: 600;
    color: $table-border;
    letter-spacing: .2rem;      
  }
  td {    
    font-size: 18px;
    font-weight: 400;    
    word-break: break-all;
    border-right: 1px dotted rgba($table-border, .5);
    &:last-of-type { border-right: none; }
    & > em {
      font-style: normal;
      font-weight: 600;
    }
    & >  span {
      color: rgba($table-sub-title, .8); 
      font-weight: 500;
      &::before {
        content: '';
        width: 2px;
        height: 18px;
        display: inline-block;
        background-color: rgba($table-sub-title, .5);
        margin: 0 $gutter-sm;
        margin-bottom: -3px;
      }
    }
  }
  .track-title {
    .track {
      font-size: 18px;
      font-weight: 500;
      color: $color-white;
      &.bg-blue { background-color: $track-blue; }
      &.bg-gray { background-color: $track-gray; }
      &.bg-orange { background-color: $track-orange; }
    }
  }
  .track {
    &.bg-blue { background-color: rgba($track-blue, .2); }
    &.bg-gray { background-color: rgba($track-gray, .2); }
    &.bg-orange { background-color: rgba($track-orange, .2); }
  }
}

/* Dialog */
.cloud-developers-day-dialog {
  .MuiDialogContent-root {    
    .MuiDialogContentText-root {
      color: $color-description;
      font-size: 14px;
      line-height: 1.6;
      letter-spacing: -.01rem;      
      margin: $gutter-sm 0;
    }
  }
  .MuiDialogActions-root {
    padding: 0 $gutter-md $gutter-md;
    Button { 
      flex-grow: 1; 
      font-weight: bold;
    }
  }
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
  &.speakers-swiper {
    .swiper-slide {
      width: 100%;
      padding: 0 $gutter-xxl;
      text-align: center;
      .track-title {
        display: inline-block;
        width: 300px;
        font-size: 22px;
        font-weight: 600;
        line-height: 2.8;
        border-radius: 50px;        
        margin-bottom: $gutter-md;
        border-width: 2px;
        border-style: solid;
        &.bg-blue { color: $track-blue; border-color: $track-blue; }
        &.bg-gray { color: $track-gray; border-color: $track-gray; }
        &.bg-orange { color: $track-orange; border-color: $track-orange; }
      }
      .speakers {
        text-align: left;
        .profile-wrapper {
          @include flex;
          align-items: center;
          margin: $gutter-md;
          .photo-speaker {
            width: 170px;
            height: auto;
            border-radius: 50%;
            margin-right: $gutter-lg;
          }
          .profile {     
            .name {              
              font-size: 22px;
              font-weight: 500;
              color: $color-title;
              margin-bottom: $gutter-sm;
              em { font-style: normal; }
              span { font-weight: 600; }
              em + span { margin-left: $gutter-sm; }
            }
            .desc {
              @include ellipsis(3, 1.7);
              font-size: 15px;
              color: $color-description;
            }
          }
        }
      }
    }
    .swiper-button-prev, .swiper-button-next { color: $color-description; }
  }
}
