@charset "utf-8";

@import "var", "reset", "mixins";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800");
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

/* Common > Layout */
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #ffe228;
  position: relative;
  padding: $gutter-xl;
  z-index: 999;
  .intellytics-header {
    @include flex;
    width: 100%;    
    height: $header-height; 
    justify-content: space-between;    
  }
  .intellytics-container {
    width: 100vw;
    height: calc(100vh - #{$header-height} - #{$gutter-xl});
    margin-left: -$gutter-xl;
    padding: 0 210px 0 0;
    z-index: 997;
  }
}

/* Header */
.intellytics-header {
  & > h1 {
    img {
      width: auto;
      height: 77px;
      padding: 6px; 
    }
  }
  .introduction {
    text-transform: uppercase;    
    .tit { 
      font-size: 17px;
      font-weight: 600;
      letter-spacing: .1rem;
      margin-bottom: $gutter-sm;
    }
    .desc {
      color: #4d4d4d;
      font-size: 13px;
      font-weight: 300;
      line-height: 1.7;
    }
  }
  .nav {
    position: relative;
    text-align: right;  
    &::before {
      content: '';
      width: 54px;
      height: 4px;
      background-color: #333;
      display: inline-block;
      position: absolute; top: 55px; right: 0; 
    }
    .user-info {
      display: block;
      font-size: 16px;
      line-height: 1.4;  
      margin-bottom: $gutter-lg;
      &:hover { text-decoration: underline; }
      span { display: block; }
    }
    .link-list {
      font-size: 15px;
      font-weight: 600;
      line-height: 1.7;
      letter-spacing: .1rem;
      text-transform: uppercase;
      a:hover { text-decoration: underline; }
    } 
  }
}

/* Footer */
.intellytics-footer {
  .footer-logo {
    position: absolute; bottom: $gutter-xl; left: $gutter-xl;
  }
  .footer-info {
    position: absolute; bottom: $gutter-xl; right: $gutter-xl;       
    .contact {   
      color: #444;
      line-height: 2; 
      text-align: right;
      padding-bottom: $gutter-sm;
      em { 
        display: block;
        font-style: normal;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .05rem;
      }
      span {
        display: block;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  & > .copy {
    position: fixed;
    top: 480px;
    left: -75px;    
    transform: rotate(-90deg);
    font-size: 10px;
    color: #999;
  }
}

/* Container > Tabs */
.intellytics-container { 
  .intellytics-tabs {
    margin-left: $layout-gutter-left;
    * { 
      letter-spacing: .1rem; 
      font-size: 17px;
      font-weight: 600;
    }
    .MuiTabs-indicator { height: 4px; }    
  }
  .MuiBox-root { border: none; padding: 0; }
  .intellytics-tab-panel {
    position: relative;
    height: calc(100vh - #{$header-height} - #{$gutter-xl} - 48px);
    background-color: #fff;     
    .contents {
      height: calc(100vh - #{$header-height} - #{$gutter-xl} - 48px - #{$gutter-xl});
      .vertical-scroll-area {
        padding-top: $gutter-sm; 
        padding-left: $layout-gutter-left;
      }
      
    }
  }
}

/* Container > Card */
.card-wrap {
  // common & Authorized
  .MuiCard-root {
    position: relative;
    
    .MuiCardContent-root { 
      .card-tit {
        font-size: 17px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: $gutter-sm;
      }
      .card-desc { 
        @include ellipsis(2, 1.6em);
        font-size: 13px;
        color: #777;
        margin-bottom: $gutter-sm;
      }
      .chip-wrap {
        margin: - calc($gutter-xs/2);
        .MuiChip-sizeSmall {
          font-size: 11px;
          line-height: 1;
          padding: 0 $gutter-xs;
          margin: calc($gutter-xs/2);
          &.Mui-disabled { opacity: 0 !important; }
        }
      }
    }    
  }
  // Unauthorised
  &.unauthorized {
    .MuiCard-root {
      overflow: visible !important;
      .MuiFab-root {
        position: absolute; bottom: -20px; left: calc(50% - 28px);
      }
    }  
  }
  // Declined
  &.declined {
    .MuiCard-root {
      overflow: visible !important;
      .MuiFab-root {
        position: absolute; bottom: -20px; left: calc(50% - 69px);
        span { line-height: 1; font-size: 12px; }
      }
    }  
  }
}

/* Dialog */
.intellytics-dialog {  
  .MuiDialogTitle-root {
    & > span { display: inline-block; vertical-align: middle; }
    .MuiChip-sizeSmall {
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      margin-left: $gutter-xs;
    } 
  }
  .MuiDialogContent-root {    
    .MuiDialogContentText-root {
      color: #555;
      font-size: 13px;
      line-height: 1.6;
      letter-spacing: -.01rem;      
      margin: $gutter-sm 0;
      em {                 
        display: block;
        font-style: normal;
        font-size: 14px;
        font-weight: 600;
      } 
      & > .text-mark {
        display: block;
        color: #cc0000;        
        font-weight: 600;
        margin: $gutter-sm 0;        
      }        
    }
    .MuiInput-input { font-size: 13px; }
    .MuiFormControlLabel-label { 
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -.01rem;  
      color: #555;
    }     
  }
  .MuiDialogActions-root {
    padding: 0 $gutter-md $gutter-md;
    Button { flex-grow: 1; }
  }
}
