@charset "utf-8";

@import "CloudDevelopersDayVar", "reset", "mixins";
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

/* Common > Layout */
#root {
  width: 100vw;
  height: 100vh; 
  .cloud-developers-day-header {
    @include flex;
    width: 100%;
    justify-content: space-between; 
    padding: unquote("max(#{$gutter-xl}, 18px)");
    padding-bottom: unquote("max(#{$gutter-lg}, 18px)");
  }
  .cloud-developers-day-container {
    margin-left: unquote("min(-2.084vw, -18px)");
    overflow: hidden;
    z-index: 997;
    .contents {
      margin-right: unquote("max(10.4167vw, 146px)");
      background-color: $color-white; 
    }
  }
  .text-red { color: $color-lg-electronics; }
}

/* Header */
.cloud-developers-day-header {  
  .nav {
    @include flex; 
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 1;
    h1 {
      margin-bottom: $gutter-lg;
      img {
        width: unquote("max(21.8750vw, 230px)");
        height: auto;
      }
    }
    .user-info {   
      align-items: flex-end;
      span { 
        display: block;
        font-size: unquote("max(0.8333vw, 12px)");
        &.name {
          margin-right: unquote("max(0.9375vw, 13px)");
          margin-bottom: $gutter-xs;
          font-size: unquote("max(0.9375vw, 13px)");
          font-weight: 600;
        }
      }
    }
  }
  .event-wrapper {
    min-width: 70%;
    .event {
      @include flex;      
      justify-content: space-between;
      & + .event { margin-top: $gutter-md; }
      &:last-of-type { align-items: center; }
      .event-header { 
        width: 17.1875vw;
        flex-shrink: 0;
        margin: 0 $gutter-xxl;
        .tit {
          text-transform: uppercase;
          font-size: unquote("max(1.1979vw, 14px)");
          font-weight: 600;
          letter-spacing: .1rem;
          margin-right: $gutter-sm;
          margin-bottom: $gutter-xs;
          .text-red {
            font-size: unquote("max(0.8333vw, 12px)");
            font-weight: 300;
            margin: 0 $gutter-xxl 0 $gutter-sm;
          }
          span { vertical-align: middle; }
        }
        .schedule {
          font-size: unquote("max(0.8333vw, 13px)");
          font-weight: 300;
          line-height: 1.4;
          em {
            display: block;
            font-size: unquote("max(0.9375vw, 13px)");
            font-weight: 400;
            font-style: normal;
          }
        }
      }      
      .event-contents {
        flex-grow: 1;
        font-size: unquote("max(0.8333vw, 12px)");
        font-weight: 300;
        .desc {
          line-height: 1.9;
          .MuiButton-root { 
            line-height: unquote("max(0.8333vw, 16px)");
            font-weight: bold;
            .MuiSvgIcon-root { 
              width: unquote("max(0.8333vw, 16px)");
              height: unquote("max(0.8333vw, 16px)");
            }
          }
        }
        .MuiFormGroup-root {
          @include flex;
          flex-direction: row;
          .MuiFormControlLabel-root { 
            &:last-of-type { margin-right: 0; }
            .MuiTypography-root { 
              font-weight: bold; 
              font-size: unquote("max(0.7292vw, 11px)");
            }
          }
        }        
        .MuiButton-root {
          font-size: unquote("max(0.7292vw, 10px)");
          padding: 0.2083vw 0.6250vw;
        }
        .custom-button {
          display: inline-block;          
          border: 0.1563vw solid $color-title; 
          border-radius: unquote("max(1.5625vw, 30px)");
          font-size: unquote("max(0.9375vw, 13px)");
          font-weight: bold;
          padding: 0.3646vw 1.0938vw;
          padding-left: unquote("max(1.0938vw, 18px)");
          padding-right: unquote("max(1.0938vw, 18px)");
        }
        .MuiSvgIcon-root { 
          width: unquote("max(1.2500vw, 16px)");
          height: unquote("max(1.2500vw, 16px)");
        }
      }
      .email {
        text-decoration: underline;
        font-size: unquote("max(0.6771vw, 13px)");
      }
    }
  }  
}

/* Footer */
.cloud-developers-day-footer {
  .footer-logo {
    position: fixed; bottom: unquote("max(#{$gutter-lg}, 16px)"); left: unquote("max(#{$gutter-lg}, 16px)");
    img { 
      width: auto;
      height: unquote("max(1.7708vw, 20px)");
    }
  }
  .footer-info {
    position: fixed; bottom: unquote("max(#{$gutter-lg}, 16px)"); right: unquote("max(#{$gutter-lg}, 16px)");
    .contact {   
      color: $color-title;
      line-height: 2; 
      text-align: right;
      em { 
        display: block;
        font-style: normal;
        font-size: unquote("max(0.7292vw, 11px)");
        font-weight: 600;
        letter-spacing: .05rem;
      }
      span {
        display: block;
        font-size: unquote("max(0.6771vw, 10px)");
        font-weight: 400; 
      }
    }
  }
  & > .copy {
    display: none;
    position: fixed;
    top: 25.0000vw;
    left: -3.9063vw;    
    transform: rotate(-90deg);
    font-size: 0.5208vw;
    color: $color-gray;
  }
}

/* Container */
.cloud-developers-day-container {
  .article {
    width: 100%;
    background-color: $color-white;
    padding: $gutter-xxl $gutter-xxl $gutter-xxl $layout-gutter-left;
    &.bg-lightgray {
      background-color: $color-lightgray;
    }
    & > h3 {
      font-size: unquote("max(1.6667vw, 20px)");
      font-weight: 600;
      color: $color-title;
      letter-spacing: .1rem;
      margin-bottom: $gutter-md;
      & + .swiper { margin-top: -$gutter-md; }
    }
    & > p {
      font-size: unquote("max(0.8854vw, 13px)");
      font-weight: 300;
      color: $color-description;
      line-height: 1.8;
      &.text-helper {
        font-size: unquote("max(0.8333vw, 12px)");
        font-weight: 500;
        color: $color-lg-electronics;
        margin-bottom: $gutter-lg;
      }
    }    
    .list {
      & > li {
        font-size: unquote("max(0.8854vw, 13px)");
        font-weight: 400;
        color: $color-description;
        line-height: 2.2;
        &::before {
          content: '';
          width: unquote("max(0.3125vw, 3px)");
          height: unquote("max(0.3125vw, 3px)");
          display: inline-block;
          border-radius: 50%;
          background-color: $color-description;
          margin-right: $gutter-sm;
          margin-bottom: unquote("max(0.1563vw, 3px)")
        }
      }
    }
  }
}
.program-timetable {
  width: 100%;
  table-layout: fixed;
  background: $color-white;
  thead { border-bottom: 0.1042vw solid $table-border; }
  tbody tr { border-bottom: 0.0521vw solid $table-border; }
  th, td {
    padding: $gutter-sm;
    line-height: 1.8;
    text-align: center;
    vertical-align: middle;
  }
  th {     
    font-size: unquote("max(1.0417vw, 13px)");
    font-weight: 600;
    color: $table-border;
    letter-spacing: .2rem;      
  }
  td {    
    font-size: unquote("max(0.9375vw, 12px)");
    font-weight: 400;    
    word-break: break-all;
    border-right: 0.0521vw dotted rgba($table-border, .5);
    &:last-of-type { border-right: none; }
    & > em {
      font-style: normal;
      font-weight: 600;
    }
    & >  span {
      color: rgba($table-sub-title, .8); 
      font-weight: 500;
      &::before {
        content: '';
        width: unquote("max(0.1042vw, 2px)");
        height: unquote("max(0.9375vw, 12px)");
        display: inline-block;
        background-color: rgba($table-sub-title, .5);
        margin: 0 $gutter-sm;
        margin-bottom: -0.1563vw;
      }
    }
  }
  .track-title {
    .track {
      font-size: unquote("max(0.9375vw, 12px)");
      font-weight: 500;
      color: $color-white;
      &.bg-blue { background-color: $track-blue; }
      &.bg-gray { background-color: $track-gray; }
      &.bg-orange { background-color: $track-orange; }
    }
  }
  .track {
    &.bg-blue { background-color: rgba($track-blue, .2); }
    &.bg-gray { background-color: rgba($track-gray, .2); }
    &.bg-orange { background-color: rgba($track-orange, .2); }
  }
}

/* Dialog */
.cloud-developers-day-dialog {
  .MuiDialogTitle-root { font-size: unquote("max(1.0417vw, 16px)"); }
  .MuiDialogContent-root {    
    .MuiDialogContentText-root {
      color: $color-description;
      font-size: unquote("max(0.7292vw, 12px)");
      line-height: 1.6;
      letter-spacing: -.01rem;      
      margin: $gutter-sm 0;
    }
  }
  .MuiDialogActions-root {
    padding: 0 $gutter-md $gutter-md;
    Button { 
      flex-grow: 1; 
      font-weight: bold;
    }
  }
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
  &.speakers-swiper {
    .swiper-slide {
      width: 100%;
      padding: 0 $gutter-xxl;
      text-align: center;
      .track-title {
        display: inline-block;
        width: unquote("max(15.6250vw, 120px)");
        font-size: unquote("max(1.1458vw, 15px)");
        font-weight: 600;
        line-height: 2.8;
        border-radius: unquote("max(2.6042vw, 25px)");        
        margin-bottom: $gutter-md;
        border-width: unquote("max(0.1042vw, 2px)");    
        border-style: solid;
        &.bg-blue { color: $track-blue; border-color: $track-blue; }
        &.bg-gray { color: $track-gray; border-color: $track-gray; }
        &.bg-orange { color: $track-orange; border-color: $track-orange; }
      }
      .speakers {
        text-align: left;
        .profile-wrapper {
          @include flex;
          align-items: center;
          margin: unquote("max(#{$gutter-md}, 20px)");
          .photo-speaker {
            width: unquote("max(8.8542vw, 60px)");
            height: unquote("max(8.8542vw, 60px)");
            border-radius: 50%;
            margin-right: $gutter-lg;
          }
          .profile {     
            .name {              
              font-size: unquote("max(1.1458vw, 14px)");
              font-weight: 500;
              color: $color-title;
              margin-bottom: $gutter-sm;
              em { font-style: normal; }
              span { font-weight: 600; }
              em + span { margin-left: unquote("max(#{$gutter-sm}, 4px)"); }
            }
            .desc {
              @include ellipsis(3, 1.7);
              font-size: unquote("max(0.7813vw, 12px)");
              color: $color-description;
            }
          }
        }
      }
    }
    .swiper-button-prev, .swiper-button-next { color: $color-description; }
  }
}

/* Mediaquery */
@media (max-width: 1024px) { 
  .cloud-developers-day-header { 
    .event-wrapper {
      .event {
        .event-header { 
          width: unquote("max(12.5000vw, 150px)");
        }
        .event-contents {
          br { display: none; }
        }         
      }
    }
  }
  .cloud-developers-day-container {
    .article {
      padding-left: 6.2500vw;
    }
  }
  .cloud-developers-day-footer {
    .footer-logo {
      left: unset; bottom: unquote("max(3.6458vw, 70px)"); right: unquote("max(#{$gutter-lg}, 16px)");
      img { 
        width: auto;
        height: unquote("max(1.7708vw, 20px)");
      }
    }
  }
}